.footer {
  width: 1140px;
  height: 97px;
  flex-shrink: 0;

  background-color: var(--black);
}

.footer__list {
  color: var(--white);
  font-family: var(--heading-font-family);
  font-size: 13px;
  font-style: normal;
  font-weight: 700;
  line-height: 25px; /* 192.308% */
  letter-spacing: 2px;
  text-transform: uppercase;
}

.footer__list-1 {
  display: flex;
  padding-top: 32px;
  justify-content: space-between;
  padding-top: 70px;
}

.sitenav__list-1 {
  display: flex;
  gap: 34px;
}

.footer__img {
  display: flex;
}

.footer__logo {
}
